<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Обо мне</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Создание и продвижение сайтов начинал как хобби, сейчас занимаюсь этим профессионально. Это моя
                    работа, а так же любимое дело. </p>
            </div>
            <div class="col-lg-4">
                <p>Поэтому я не устаю развиваться и самообразовываться, стараюсь и буду стараться повышать свои навыки и
                    расширять кругозор.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                Этот сайт создается для изучения новых инструментов и получения опыта .
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#social" class="btn btn-lg btn-outline">
                    <i class="fa fa-vcard"></i> Контакты
                </a>
            </div>
        </div>
    </div>
</section>